*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a { color: inherit; }

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    width: 100%;
    margin-bottom: 20px;
}

header .logo-starbucks{
    position: relative;
    height: 51px;
    right: 70px;
}

.section-header{
    display: flex;
    height: 120px;
    width: 1449px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    right: 30px;
}

.header-box-left{
    display: flex;
    width: auto;
}

.header-box-left ul{
    display: flex;
    list-style: none;
    gap: 24px;
    font-size: 16px;
    align-items: center;
    font-weight: 700;
    letter-spacing: .1em!important;
}

.header-box-right{
    display: flex;
    width: auto;
    height: auto;
    gap: 32px;
}

.box-loc-p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box-loc-p p{
    font-size: 17px;
    font-weight: 700;
    width: 100px;
}

header li:hover{
    color: #00754a;
}

.header-box-right p:hover{
    color: #00754a;
}

.header-box-right img{
    width: 32px;
    height: 32px;
}

.box-loc img:hover{
    color: #00754a;
}

.box-buttons{
    display: flex;
    align-items: center;
    gap: 16px;
    width: auto;
}

.box-buttons .button1{
    background-color: white;
    border-radius: 65px;
    height: 33px;
    width: 78px;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
}

.box-buttons .button1:hover{
    background-color: rgba(0, 0, 0, 0.096);
    transition: 0.4s;
    cursor:pointer;
}

.box-buttons .button2{
    background-color: black;
    color: white;
    border-radius: 65px;
    height: 33px;
    width: 100px;
    font-size: 14px;
    font-weight: 600;
}

.box-buttons .button2:hover{
    background-color: transparent;
    border-color: black;
    border-width: 1px;
    transition: 0.4s;
    cursor:pointer;
    color: black;
}

/* MAIN */

/* Tamanho dos box */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div{
    height: 410px;
    margin-bottom: 30px;
    width: 75.9%;
}

/* Box 1 */
.box1{
    background-color: #d4e9e2;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    display: flex;
}

.box1 div{
    display: flex;
}

/* Box da section do Box 1 */
.box1 section {
    height: 100%;
    width: 50%;
} 

/* Section left Box 1 */
.sec1{
    background-image: url(https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-81104.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Section right Box 1 */
.sec2{
    padding: 32px 48px;
    display: flex;
    flex-direction: column;

}

/* Elementos da Section right do Box 1 */
.sec2 h1{
    font-size: 24px;
    font-weight: 600;
    color: #1e3932;
    margin-bottom: 24px;
}

.sec2 p{
    color: #1e3932;
    font-size: 19px;
    margin-bottom: 24px;
    font-weight: 500;
}

.sec2 ul{
    margin-left: 28px;
    font-weight: 500;
}

.sec2 li{
    margin-top: 8px;
    font-size: 19px;
    color: #1e3932;
}

.sec2 button{
    margin-top: 32px;
    width: 150px;
    height: 37px;
    border: 1px solid #1e3932;
    border-radius: 25px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #1e3932;
}

/* Efeito Hover button Section right */
.sec2 button:hover{
    background-color: #1e393221;
    transition: 0.2s;
    cursor: pointer;
}

/* Box 2 */
.box2{
    background-color: #006241;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    display: flex;
}

.box2 div{
    display: flex;
    width: 100%;
}

/* Section left Box 2 */
.sec3{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/* Elementos da Section left do Box 2 */
.sec3 h1{
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.sec3 p{
    font-size: 19px;
    color: white;
    font-weight: 500;
}

.sec3 button{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    width: 120px;
    height: 37px;
    font-size: 16px;
    font-weight: 500;
}

/* Efeito Hover button Section left */
.sec3 button:hover{
    background-color: #1e393250;
    transition: 0.2s;
    cursor: pointer;
}

/* Section right box 2 */
.sec4{
    width: 50%;
    height: 100%;
    background-image: url(https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-81197.jpg);
    background-position: center;
    background-size: cover;
}

/* BOX 3 */
.box3{
    background-color: #006241;
    height: 625px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    display: flex;
}

.box3 div{
    display: flex;
    width: 100%;
    height: 100%;
}

.box3 .sec5{
    width: 50%;
    height: 100%;
    background-image: url(https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-81152.jpg);
    background-position: center;
    background-size: cover;
}

.box3 .sec6{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.sec6 h1{
    font-size: 50px;
    color: white;
}

.sec6 p{
    font-size: 24px;
    color: white;
    text-align: center;
}

.sec6 button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    width: 120px;
    height: 37px;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.sec6 button:hover{
    background-color: #1e393250;
    transition: 0.2s;
    cursor: pointer;
}

/* BOX 4 */

.box4{
    background-color: #006241;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    display: flex;
    height: 625px;
}

.box4 div{
    display: flex;
    width: 100%;
    height: 100%;
}

/* Section left Box 4 */
.sec7{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

/* Elementos da Section left do Box 2 */
.sec7 h1{
    font-size: 50px;
    color: white;
    font-weight: 700;
}

.sec7 p{
    font-size: 24px;
    color: white;
    font-weight: 500;
    text-align: center;
}

.sec7 button{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    width: 120px;
    height: 37px;
    font-size: 16px;
    font-weight: 500;
}

/* Efeito Hover button Section left */
.sec7 button:hover{
    background-color: #1e393250;
    transition: 0.2s;
    cursor: pointer;
}

/* Section right box 2 */
.sec8{
    width: 50%;
    height: 100%;
    background-image: url(https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-81198.jpg);
    background-position: center;
    background-size: cover;
}

/* BOX 5 */

.box5{
    background-color: #006241;
    height: 625px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
    display: flex;
}

.box5 div{
    display: flex;
    width: 100%;
    height: 100%;
}

.box5 .sec9{
    width: 50%;
    height: 100%;
    background-image: url(https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-81199.jpg);
    background-position: center;
    background-size: cover;
}

.box5 .sec10{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.sec10 h1{
    font-size: 50px;
    color: white;
}

.sec10 p{
    font-size: 24px;
    color: white;
    text-align: center;
}

.sec10 button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    width: 120px;
    height: 37px;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.sec10 button:hover{
    background-color: #1e393250;
    transition: 0.2s;
    cursor: pointer;
}

.defense{
    font-size: 12px;
    text-align: center;
    font-weight: 400;
}

/* Footer */
footer{
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
    height: auto;
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

footer .box-all-navbar-footer{
    display: flex;
    flex-direction: column;
    height: 650.5px;
}

.box-box-in-div{
    display: flex;
    height: auto;
    margin-bottom: 32px;
    justify-content: center;
}

.box-in-div{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 290px;
}

.box-in-div ul{
    list-style: none;
    font-size: 15px;
}

.box-in-div li{
    margin-bottom: 24px;
    color: rgba(0,0,0,.58);
    font-weight: 600;
}

.box-in-div li:hover{
    color: rgba(0, 0, 0, 0.808);
}

.box-in-div h1{
    margin-bottom: 30px;
    font-size: 19px;
    font-weight: 500;
    color: rgba(0,0,0,.87);
}

hr{
    border-top: 1px solid rgba(0,0,0,.1);
    width: 1500px;
    align-self: center;
}

.ul-icons-social{
    margin-top: 30px;
    height: 51px;
    display: flex;
    list-style: none;
    align-self: center;
    align-items: center;
    justify-content: start;
    width: 1510px;
}

.box-politica-priv{
    display: flex;
    margin-top: 16px;
    align-self: center;
    width: 1500px;
}

.ul-icons-social img{
    height: 36px;
    width: 36px;
    margin-right: 16px;
}

.ul-icons-social img:hover{
    height: 40px;
    width: 40px;
}

.box-politica-priv{
    list-style: none;
    display: flex;
    gap: 22px;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 25px;
}

.box-politica-priv li:hover{
    text-decoration: underline;
}

.company{
    font-size: 14px;
    color: rgba(0,0,0,.58)!important;
    width: 1510px;
    align-self: center;
}